html {
  background-color: #173599;
  color: white;
  font-family: Avenir, sans-serif;
}

h1 {
  margin: auto;
  font-size: 52px;
  text-align: center;
  padding-bottom: 14px;
}

h2 {
  margin: auto;
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px;
}

/*#rules {
  background-color: #B2CCF2;
  width: 1340px;
  height: 60px;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
}*/

#reset {
  margin: auto;
  font-size: 18px;
  text-align: left;
  padding: 10px;
  background-color: #1DAD83;
  text-decoration: none;
  color: white;
  border: none;
}

/*#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;*/
/*}*/

#time {
  margin: auto;
  border: none;
  background-color: #222;
  width: 100px;
  height: 80px;
  color: white;
  border-radius: 40px;
}

#scoreBoard {
  text-align: left;
  padding-left: 1000px;
}

#circle1 {
  background-color: #E8366C;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#circle2 {
  background-color: #9B3AFF;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#playerOne {
  text-align: left;
  padding-left: 600px;
}

#playerTwo {
  text-align: left;
  padding-left: 600px;
}

/*#selectPlayer {
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  padding-top: 10px;
}

#player li {
  font-size: 24px;
  list-style: none;
  line-height: 48px;
}

.kid {
  background: none;
  border: none;
  padding: 10px;
  margin: 12px;
  width: 100px;
}


.stats {
  background-color: #B2CCF2;
  width: 120px;
  font-size: 24px;
  height: 72px;
  border: none;
  color: #17359;
  text-align: center;
}*/

#table1{
  background-color: #173599;
  width: 600px;
  height: 600px;
  margin: auto;
  float: left;
  padding: 0px 10px 0px 40px;
  margin-bottom: 50px;
}

.card {
  background-color: #118F85;
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid #173599;
  color: white;
  font-size: 20px;
}

#table2{
  background-color: #173599;
  width: 600px;
  height: 600px;
  margin: auto;
  float: right;
  padding: 0px 40px 0px 10px;
  margin-bottom: 50px;
}

.card2 {
  background-color: #118F85;
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid #173599;
}

.selected1 {
  background-color: #FF9C0D;
}

.player1 {
  background-color: #E8366C;
}

.player2 {
  background-color: #9B3AFF;
}
