html {
  background-color: #173599;
  color: white;
  font-family: Avenir, sans-serif;
}

h1 {
  margin: auto;
  font-size: 52px;
  text-align: center;
  padding-bottom: 30px;
}

h2 {
  margin: auto;
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px;
}

#reset {
  margin: auto;
  font-size: 18px;
  text-align: left;
  padding: 10px;
  background-color: #1DAD83;
  text-decoration: none;
  color: white;
  border: none;
}

#player {
  background-color: #B2CCF2;
  width: 400px;
  height: 600px;
  float: left;
  color: #173599;
  margin: auto;
  border: 2px solid #173599;
}

#selectPlayer {
  font-size: 36px;
  line-height: 72px;
  text-align: center;
  padding-top: 10px;
}

#player li {
  font-size: 36px;
  list-style: none;
  line-height: 72px;
}

.kid {
  background: none;
  border: none;
  padding: 10px;
  margin: 12px;
}


.stats {
  background-color: #B2CCF2;
  width: 200px;
  font-size: 36px;
  height: 72px;
  border: none;
  color: #17359;
}

#space {
  background-color: #173599;
  width: 100px;
  height: 600px;
  float: left;
  color: #173599;
  margin: auto;
}

#table{
  background-color: #173599;
  width: 800px;
  height: 800px;
  float: left;
  margin: auto;
}

.card {
  background-color: #118F85;
  width: 200px;
  height: 200px;
  float: left;
  border: 2px solid #173599;
  color: white;
  font-size: 30px;
}


.card2 {
  background-color: #118F85;
  width: 200px;
  height: 200px;
  float: left;
  border: 2px solid #173599;
  color: white;
  font-size: 30px;
}

.selected {
  border: 2px solid yellow;
}

