body {
  background-color: #173599;
  color: white;
  letter-spacing: .025em;
}

h1 {
  margin: auto;
  font-size: 60px;
  text-align: center;
  font: "Roboto", 700, sans-serif;
  padding: 42px 14px 28px 14px;
}

h2 {
  margin: auto;
  font-size: 24px;
  text-align: center;
  font-family: "Inconsolata", sans-serif;
  margin: 30px 0px;
}

h3 {
  margin: auto;
  font-size: 28px;
  text-align: center;
  font-family: "Inconsolata", sans-serif;
  padding: 30px 0px;
}

p {
  font-size: 16px;
}

.spacer {
  margin: 10px 0px
  vertical-align: middle;
}

.table-spacer {
  margin-bottom: 40px;
}

.setting {
  -moz-box-shadow: inset 0px 39px 0px -24px #FF9C0D;
  -webkit-box-shadow: inset 0px 39px 0px -24px #FF9C0D;
  box-shadow: inset 0px 39px 0px -24px #FF9C0D;
  background-color: #FF9C0D;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Inconsolata;
  font-size: 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #FF9C0D;
  outline: none;
  margin-bottom: 10px;
  padding: 10px 30px;
}

.setting:hover {
  background-color: #FF4D00;
  box-shadow: inset 0px 39px 0px -24px #FF4D00;
}

.setting:active {
  position: relative;
  top: 1px;
}

.timer {
  background-color: #FF4D00;
  box-shadow: inset 0px 39px 0px -24px #FF4D00;
}

.center {
  text-align: center;
}

#table {
  border: 2px solid white;
  margin-bottom: 40px;
  padding: 20px 10px 10px;
}

#table1 {
  background-color: #173599;
}

.card {
  background-color: #118F85;
  width: 90px;
  height: 90px;
  float: left;
  border: 2px solid #173599;
  color: white;
  font-size: 20px;
  border-radius: 8px;
}

#table2 {
  background-color: #173599;
}

.card2 {
  background-color: #118F85;
  width: 90px;
  height: 90px;
  float: left;
  border: 2px solid #173599;
  border-radius: 8px;
}

.selected1 {
  background-color: #FF9C0D;
}

.player1 {
  background-color: #E8366C;
}

.player2 {
  background-color: #9B3AFF;
}

.modal {
  display: inline-block;
  left: 30%;
  right: 30%;
  bottom: 20%;
  margin-bottom: 50px;
  top: 200px;
  border-radius: 8px;
  /*text-align: center;*/
}

.modal.player1 {
  background-color: #E8366C;
}

.modal.player2 {
  background-color: #9B3AFF;
}

.modal.tie {
  background-color: #FF4D00;
}

.message {
  font-family: "Inconsolata", sans-serif;
  font-size: 36px;
  text-align: center;
  line-height: 72px;
  padding-top: 40px;
}
